<?xml version="1.0" encoding="utf-8" ?>
<Data>
	<table ID_VESSEL="TANJA" ID_LINE="VKH" ID_ROUTE="1"/>
	<table ID_VESSEL="FINNEAGLE" ID_LINE="VKH" ID_ROUTE="2"/>
	<table ID_VESSEL="FINNSUN" ID_LINE="VKH" ID_ROUTE="3"/>
	<table ID_VESSEL="FINNLADY" ID_LINE="VKH" ID_ROUTE="4"/>
	<table ID_VESSEL="FINNMASTER" ID_LINE="VKH" ID_ROUTE="5"/>
	<table ID_VESSEL="NORDIA." ID_LINE="VKH" ID_ROUTE="6"/>
	<table ID_VESSEL="BORUSSIA" ID_LINE="VKH" ID_ROUTE="7"/>
	<table ID_VESSEL="VAERMLAND" ID_LINE="SSK" ID_ROUTE="1"/>
	<table ID_VESSEL="ALTELAND" ID_LINE="SSK" ID_ROUTE="2"/>
	<table ID_VESSEL="FINNTRADER" ID_LINE="SSK" ID_ROUTE="3"/>
	<table ID_VESSEL="LIVLAND" ID_LINE="SSK" ID_ROUTE="4"/>
	<table ID_VESSEL="MERCHANT" ID_LINE="SSK" ID_ROUTE="5"/>
	<table ID_VESSEL="MARGARETHA" ID_LINE="SSK"  ID_ROUTE="6"/>
	<table ID_VESSEL="KILMORE" ID_LINE="AML" ID_ROUTE="1"/>
	<table ID_VESSEL="GOETALAND" ID_LINE="AML" ID_ROUTE="2"/>
	<table ID_VESSEL="TAVASTLAND" ID_LINE="AML" ID_ROUTE="3"/>
	<table ID_VESSEL="ROGALAND" ID_LINE="AML" ID_ROUTE="4"/>
	<table ID_VESSEL="FINNPARTNER" ID_LINE="AML" ID_ROUTE="5"/>
	<table ID_VESSEL="MAIKE D" ID_LINE="AML" ID_ROUTE="6"/>
	<table ID_VESSEL="ANTJE" ID_LINE="AML" ID_ROUTE="7"/>
</Data>
